<!DOCTYPE html>
<html lang="en">
  {{- partial "head.html" . -}}
  <body>
    {{- partial "header.html" . }}
    <div class="pagearea" >
      {{- if .Param "toc"}}
      {{- partial "toc.html" . -}}
      {{- else if .Param "sideimage" }}
      {{- partial "sideimage.html" . -}}
      {{- end }}
      <div class="textarea"  >
        <article id="article"
          class="{{- if .Param "autonumbering" }} autonumbering {{- end }}
                 {{- if .Param "autoitemizing" }} autoitemizing {{- end }} no-break">
        {{- block "main" . }}{{- end }}
        </article>
      </div >
    </div>
        <div class="footer">
          {{- partial "footer.html" . -}}
        </div>
  </body>
</html>

