@media only screen {
  .print-only {
  }

  .banner {
    border-top: 0.25ex solid;
    border-image-source: linear-gradient(90deg, #7080c7,  #206a9c);
    border-image-slice: 1;
  }

  body{
    margin: 0px;
    padding: 0;
    color: #202020;
    line-height: 3ex;
    font-size: 1em;
    font-family: Roboto, sans-serif;
  }

  #article-title{
    padding-bottom: 3ex;
  }


}


