.notices.note .header {
  background-color: #6ab0de;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 0.5ex;
  padding-top: 0.5ex;
  color: white;
}

.notices.note .text {
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1ex;
  padding-top: 1ex;
}

.notices.note {
  background-color: #e7f2fa;
  margin-top: 1ex;
  margin-bottom: 1ex;
}

.notices.warning .header {
  background-color: #f0b37e;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 0.5ex;
  padding-top: 0.5ex;
  color: white;
}

.notices.warning .text {
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1ex;
  padding-top: 1ex;
}

.notices.warning {
  background-color: #ffedcc;
  margin-top: 1ex;
  margin-bottom: 1ex;
}

.notices.important .header {
  background-color: #1abc9c;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 0.5ex;
  padding-top: 0.5ex;
  color: white;
}

.notices.important .text {
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1ex;
  padding-top: 1ex;
}

.notices.important {
  background-color: #dbfaf4;
  margin-top: 1ex;
  margin-bottom: 1ex;
}


