<table>
  {{ range first $.Params.nlast .Site.Pages.ByLastmod.Reverse  }}
  {{ if eq .Layout "article" }}
  <tr>
    <th style="text-align:left;">
      <b>{{ .Lastmod.Format "January 2, 2006" }} &nbsp; </b>
    </th>
    <th style="text-align:left;">
      <a href="{{ .Permalink }}">
        {{ .Title }}
      </a>
    </th>
  </tr>
  {{ end }}
  {{ end }}
</table>
