<p style="text-align:left;">
License: <img height=30 alt="{{ .Site.Params.licenseImageAlt }}"
                          style="vertical-align:-0.5em"
                          src="{{ .Site.Params.licenseImageURL }}" />
<span style="float:right;">
  Copyright: © {{ .Site.Params.copyrightStartYear }} - {{ now.Format "2006" }},  {{
  .Site.Copyright }}
</span>
</p>

