<table>
  {{ range .Site.Pages.ByLastmod.Reverse  }}
  {{ $ageModDays := div (sub now.Unix .Lastmod.Unix) 86400 }}
  {{ $ageDays := div (sub now.Unix .Date.Unix) 86400 }}
  {{ if or (le $ageDays $.Params.nrecent) (le $ageModDays $.Params.nrecent)}}
  {{ if eq .Layout "article" }}
  <tr>
    <th style="text-align:left;">
      <b>{{ .Lastmod.Format "January 2, 2006" }} &nbsp; </b>
    </th>
    <th style="text-align:left;">
      <a href="{{ .Permalink }}">
        {{ .Title }}
      </a>
    </th>
  </tr>
  {{ end }}
  {{ end }}
  {{ end }}
</table>
