{{ if .Get "width" }}
{{ $.Scratch.Set "width" (.Get "width") }}
{{ else }}
{{ $.Scratch.Set "width" "100%" }}
{{ end }}

{{ if .Get "height" }}
{{ $.Scratch.Set "height" (.Get "height") }}
{{ else }}
{{ $.Scratch.Set "height" "100%" }}
{{ end }}

{{ if .Get "alt" }}
{{ $.Scratch.Set "alt" (.Get "alt") }}
{{ else }}
{{ $.Scratch.Set "alt" "No Alternative Text" }}
{{ end }}

{{ if .Get "border" }}
{{ $.Scratch.Set "border" (.Get "border") }}
{{ else }}
{{ $.Scratch.Set "border" "2px solid #ababab" }}
{{ end }}



<div class="encloseimage" style="overflow:auto;display:table;padding-bottom:3ex">
<div class="image">
<img src="{{.Get "img"}}"
     alt="{{ .Scratch.Get "alt"}}"
     style="
          border: {{.Scratch.Get "border" }} ;
          max-width:100%;
          max-height:100%;
          vertical-align:{{.Scratch.Get "vertical-align" }}
          "
>
</div>
<div class="text">
  {{ $html := .Inner | markdownify }}
  {{ $html | safeHTML }}
</div>
</div>
