<div class="table" >
  {{ if .Page.Scratch.Get "TableCounter" }}
  {{ $.Page.Scratch.Set "TableCounter" (add ($.Page.Scratch.Get "TableCounter") 1) }}
  {{ else }}
  {{ $.Page.Scratch.Set "TableCounter" 1 }}
  {{ end }}

  <figure class="table" id="{{.Get "label"}}">
    {{ if .Get "label" }}
    <div class="fakelabel">
      \begin{align}
      faketext
      {{ print "\\label{" (.Get "label" ) "}" }}
      \tag{ {{$.Page.Scratch.Get "TableCounter"}} }
      \end{align}
    </div>
  {{ end }}
  {{ $htmlTable := .Inner | markdownify }}
  {{ $style := .Get "style" }}
  {{ $class := .Get "class" }}
  {{ $old := "<table>" }}
    {{ $new := printf "<table class=\"%s\" style=\"%s\">" $class $style }}
      {{ $htmlTable := replace $htmlTable $old $new }}
      {{ $htmlTable | safeHTML }}
      <figcaption>
        <a href="#{{.Get "label"}}">
          <b> Table {{$.Page.Scratch.Get "TableCounter"}}.</b>
          {{ .Get "caption" }}
        </a>
      </figcaption>
  </figure>
</div>
